html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#businessCard {
  position: absolute;
  top: 200px;
  right: 0px;
}
#businessCard figure {
  background: url(../images/aaronQRcode.jpg) center top no-repeat;
  width: 107px;
  height: 291px;
}

body {
  background-color: #c2c2c2;
  font-size: 14px;
  color: #d5d4d4;
  font-family: Arial, "Microsoft YaHei", "宋体", "Lucida Sans Unicode", Helvetica, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

#mainContent {
  width: 1300px;
  margin: 0px auto;
}

.hideWords {
  display: none;
}

header {
  background-color: #272727;
}
header #logo {
  margin: 0px auto;
  width: 219px;
  height: 138px;
  background: url(../images/integrateLogo.jpg) center top no-repeat;
}
header #mainBar {
  height: 37px;
  background-color: #bd0020;
  border-bottom: 1px solid #aa001e;
}
header #mainBar ul {
  margin: 0 auto;
}
header #mainBar ul li {
  padding: 10px 0px;
  text-align: center;
  width: 159px;
  float: left;
  font-size: 18px;
}
header #mainBar ul li:hover {
  background-color: #FD554D;
}
header #mainBar ul li a {
  color: #d5d4d4;
}
header #mainBar ul li #gamesMenu {
  clear: left;
  position: absolute;
  float: none;
  padding: 15px 0px 15px 0px;
  margin-top: 10px;
  margin-left: 0px;
  z-index: 9;
  background-color: #bd0020;
  visibility: hidden;
}
header #mainBar ul li #gamesMenu li {
  margin: 0px;
  float: none;
}
header #mainBar ul li #gamesMenu li:last-child {
  padding: 10px 35px;
  width: 90px;
}
header #mainBar ul .intro_games:hover #gamesMenu {
  visibility: visible;
}

#slideShow {
  background-color: #F8F8F5;
  padding: 0px 0px 60px 0px;
}
#slideShow div {
  width: 938px;
  height: 279px;
  margin: 0px auto;
}

#slideShowSelect {
  width: 100px;
  margin: 25px auto;
}
#slideShowSelect a {
  margin: 0px 7px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/grayBall.gif) center top no-repeat;
}
#slideShowSelect .nowPlay {
  background-image: url(../images/redBall.gif);
}

#agentResouse {
  background-color: #c2c2c2;
  margin: 0px 0px 40px 0px;
}
#agentResouse ul li a {
  display: block;
  background-color: #272822;
}
#agentResouse ul li a figure {
  background-color: #bd0020;
  height: 214px;
}
#agentResouse ul li a figure span {
  visibility: hidden;
}
#agentResouse ul li a figure figcaption {
  background-color: #272727;
  border-top: 4px solid #bd0020;
  color: #d5d4d4;
  padding: 15px 0px;
  text-align: center;
  font-size: 17px;
  position: relative;
  top: -1761px;
  z-index: 5;
}

.resouse_area {
  position: relative;
  overflow: hidden;
}
.resouse_area div {
  width: 300px;
  height: 214px;
}

.black_cover {
  position: relative;
  top: -214px;
  z-index: 3;
  background-color: #181A15;
  opacity: 0.9;
  filter: Alpha(opacity=90);
}

.word {
  position: relative;
  z-index: 4;
}

.video {
  background: url(../images/video_word.gif) center top no-repeat;
}

.banner {
  background: url(../images/banner_word.gif) center top no-repeat;
}

.website {
  background: url(../images/web_word.gif) center top no-repeat;
}

.resouse_area .photos {
  position: relative;
  top: -427px;
  height: 1495px;
  top: -925px;
}
.resouse_area .videoImg {
  background: url(../images/video2.jpg) center top no-repeat;
}
.resouse_area .bannerImg {
  background-image: url(../images/banner2.jpg);
}
.resouse_area .websiteImg {
  background-image: url(../images/website2.jpg);
}

footer {
  border-bottom: 7px solid #bd0020;
  background-color: #272727;
  padding: 0px;
}
footer p {
  color: #d5d4d4;
  padding: 20px 0px;
  text-align: center;
}
